.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--white-color);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: var(--secondary-color);
}
