/* sortingDropdown.module.css */
.dropdown {
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition:
    border-bottom 0.5s,
    box-shadow 0.5s;
}

option {
  background-color: #fff;
  color: #333;
}
