.container {
  display: flex;
  margin-bottom: 10%;
}

.recommended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin: 0 auto;
}

.carouselContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  padding: 1rem;
}

.carouselItem {
  flex-basis: 20%;
  padding: 0.5rem;
}

.sortingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.title {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.description {
  font-style: italic;
  font-size: 18px;
}

.loadMoreButton {
  padding: 0.5rem 1rem;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  border-color: var(--borders-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.productCounter {
  font-size: 18;
  margin-top: 10px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .hideMobile {
    display: none;
  }

  .recommended {
    width: 90%;
  }

  .carouselContainer {
    display: block;
  }

  .carouselItem {
    flex-basis: 20%;
    margin-bottom: 6%;
  }

  .sortingContainer {
    width: 100%;
  }

  .description {
    text-align: justify;
  }
}
