.recommended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  margin: 0 auto;
}

.carouselContainer {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.card {
  background-color: var(--white-color);
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  flex: 1 0 auto;
  width: 300px;
}

.cardImg {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 10px;
}

.productTitle {
  margin-bottom: 4px;
}

.description {
  font-size: 18px;
  margin-bottom: 4px;
}

.addToCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.ratingNumber {
  font-size: 18px;
  margin-right: 4%;
  margin-bottom: 4px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.star {
  color: rgb(170, 138, 20);
  margin-right: 4px;
  font-size: 30px;
}

.shoppingCart {
  margin-left: 4%;
  font-size: 18px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px;
  font-weight: 600;
}

.price {
  font-size: 24px;
  font-weight: 600;
}
